.header{
    flex-direction: column;
    align-items: center;
}
.header a{
    align-self: center;
}
.summary{
    flex-direction: column;
}
.summary img{
    width: 100vw;
    height: 80vh;
}
.container{
    flex-direction: column;
}